.notification {
    position: absolute;
    top: 6px;
    right: 4px;
    font-size: 10px;
    background-color: rgb(179, 0, 0);
    color: white;
    border-radius: 100%;
    border: 1px solid white;
    padding: 1px 4px;
}