.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 16px;
    padding-left: 96px;
    padding-right: 56px;
    padding-top: 80px;
}

.video {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 100%;
    height: 292px;
    z-index: 1;
}

.thumbnail {
    width: 100%;
    position: relative;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 100;
    object-fit: cover;
    object-position: center;
}

.thumbnail .timestamp {
    position: absolute;
    bottom: 4px;
    right: 4px;
    z-index: 101;
    font-size: 12px;
    background-color: black;
    color: white;
    border-radius: 4px;
    padding: 3px 4px;
    margin: 4px;
}
.description {
    display: flex;
    flex-direction: row;
    position: static;
    height: 94px;

}

.description .profile-picture img {
    width: 36px;
    height: 36px;
    object-fit: cover;
    object-position: center;
    border-radius: 100%;
    margin-top: 12px;
    margin-right: 12px;
}

.text {
    flex: 1;
    height: 94px;
    padding-right: 24px;
}   

.text p {
    font-size: 14px;
    margin: 0;
}

.text .title {
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 10px;
    padding-top: 12px;
}

.text .user {
    color: #606060;
    font-size: 12px;
    margin-bottom: 4px;
}

.text .views-timestamp {
    display: flex;
    flex-direction: row;
    color: #606060;
}

.text .views-timestamp .views, .text .views-timestamp .timestamp {
    font-size: 12px;
    color: #606060;
}

@media (max-width: 888px) {
    .video-grid {
        grid-template-columns: 1fr 1fr;
    }
 }

 @media (min-width: 889px) and (max-width: 1155px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
 }

 @media (min-width: 1156px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
 }